body {
    background-color: rgba(0, 0, 0, .5);
    background-image: repeating-conic-gradient(black 9%, rgba(0, 0, 0, .95) 11%);
    color: white;
    margin: 0;
}
#main::-webkit-scrollbar {
    display: none;
}
* {
    scrollbar-width: none;
    user-select: none;
    scroll-behavior: smooth;
}

#main {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
}
#main > div {
    width: 100vw;
    height: 100vh;
}
#main > div > div {
    height: 95vh;
    width: 95vw;
    background-color: rgba(255, 255, 255, .01);
    border-radius: 10px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media print {
    * {
        display: none !important
    }
}