body {
    background-color: black;
    color: white;
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
}
* {
    scrollbar-width: none;
    user-select: none;
    scroll-behavior: smooth;
}

#main {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
    scroll-snap-type: y proximity;
}
#main > div {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
#main > div > div {
    height: 95vh;
    width: 95vw;
    background-color: rgba(255, 255, 255, .01);
    border-radius: 10px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
