#works {
    display: grid;
    align-items: center;
    scrollbar-width: thin !important;
    overflow-x: hidden;
}
#works::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
#works::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 10px;
}
.work {
    width: 75vw !important;
    padding: 1em;
    margin-top: 25px;
    margin-bottom: 25px;
    width: fit-content;
    background-color: rgba(0, 0, 0, .5);
    border: rgba(255, 255, 255, .1) 1px solid;
    border-radius: 10px;
}
.work > h2 {
    border-bottom: white 1px solid;
}
@keyframes left-in {
    0% {
        margin-left: 0;
        opacity: .5;
    }
    100% {
        margin-left: calc(10vw - 1em);
        opacity: 1;
    }
}
@keyframes right-in {
    0% {
        margin-left: calc(20vw - 2em);
        opacity: .5;
    }
    100% {
        margin-left: calc(10vw - 1em);
        opacity: 1;
    }
}
.work {
    animation-duration: 2s;    
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.work.left-in {
    animation-name: left-in;
}
.work.right-in {
    animation-name: right-in;
}